.box{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

    
    img {
        float: right;
        margin-right: 15px; 
        width: 300px; 
        height: auto; 
    }
    
    p {
        clear: both; 
    }
    